body {
  background: black;
}
canvas {
  display: block;
  display: block;
  position: fixed;
  top: 0px;
  left: 0px;
}
iframe {
  opacity: 1;
}
.main-container {
  overflow: hidden;
  position: absolute;
  height: 400px;
  width: 600px;
  background: rgba(255, 249, 232, 0.8);
  backdrop-filter: blur(5px);
  top: 50%;
  left: 50%;
  margin-top: -200px;
  margin-left: -300px;
  border-radius: 10px;
}
.tab-container {
  position: fixed;
  height: 100%;
  width: 200px;
  left: 0px;
  background: linear-gradient(90deg, rgba(255,255,255,0.5) 0%, rgba(0,212,255,0) 100%);
  border-radius: 10px;
}
.title {
  position: fixed;
  color: #3e3d47;
  top: 20px;
  left: 10px;
  font-size: 20px;
}
