body {
  overflow: hidden;
  background-color: #3A3960;
  height: 100%;
  width: 100%;
}

.start-up {
  position: fixed;
  bottom: 0px;
  left: 0px;
  font-size: 12px;
  color: #A9BFA8;
  cursor: wait;
}

